/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* Layout */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Stop Eric Meyer's Reset...*/


a[href="#maincontent"]{
    display:none;
}
body p {
    color: #797066;
    font-family: verdana, sans-serif;
    line-height:1.8;
}
h1, h2{
    color: #797066;
    font-family: Times, serif;
    font-size:1.6em;
    margin-bottom:0.625em;

}
#bottomcontent{
    clear:both;
    color: #797066;
    font-family: verdana, sans-serif;
    font-size:.6em;
    font-style: italic;
    padding-left:8px;
}
#container{
    background-color: #eae7d2;
    width: 600px;
    height: 636px;
    margin:auto;
}
#content{
    width:600px;

}
#maincontent{
    float:left;
    padding: 10px;
    padding-right:30px;
    width: 328px;
    
}
#maincontent img{
    float:left;
    margin: 0 6px 0 0;
}
#maincontent p{
    font-size:.77em;
}
#menu{
    background-color: #51473d;
    height:30px;
    padding-left:10px;
    width:590px;
}
#menu li a{
    background-color:#797066;
    color:#eae7d2;
    display:block;
    float:left;
    font-family:verdana;
    font-size:13px;
    height:14px;
    margin-right:1px;
    padding: 8px 20px;
    text-transform: capitalize;
    vertical-align:middle;
}
#subcontent{
    border-left:1px dashed #797066;
    float:left;
    padding:10px;
    width:211px;

}
#subcontent a:link{
    color:#797066;
    text-decoration:underline;
}
#subcontent a:visited{
    color:#797066;
    text-decoration:underline;
}
#subcontent h1{
    font-size:1.07em;
    margin-top:0.2em;
    margin-bottom:1.25em;
}
#subcontent h2{
   font-size:.9em; 
   margin-top:1.5em;
   padding:0;
}
#subcontent li a{
    font-family:verdana;
    font-size:.8em;
    font-weight:100;
    letter-spacing:.1em;
    padding:0.3em 0;
}
#subcontent p{
    font-size:10px;
}
#topbar{
    background-color: #51473d;
    background-image:url(pics/coffey.jpg);
    background-position: 0 1.8em;
    background-repeat:no-repeat;
    background-size: 600px 200px;
    color: #eae7d2;
    font-family:verdana;
    font-size:.6em;
    font-style:italic;
    letter-spacing:0.05em;
    padding:0;
    height: 220px;
    text-align: right;
}